#success_message{ display: none;}

body {
    /*background-image: url('alfred.png'); !* Path to your background image *!*/
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-attachment: fixed;

}
legend {
    text-align: center;
    width: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#contact_form {*/
/*    background-color: orange;*/
/*}*/

p {
    text-align: center; /* Allinea il testo all'interno del tag <p> al centro della pagina */
}

.btn-warning-custom {
    background-color: #339999 !important; /* Imposta il tuo colore personalizzato */
    border-color: #2e8b8b !important; /* Imposta un colore di bordo che si abbini bene */
    color: #ffffff !important;
}

.logo-container {
    text-align: center; /* Centra il contenuto del div */
    margin-top: 20px; /* Aggiungi spazio sopra il logo se necessario */
}

.center-logo {
    max-width: 100%; /* Opzionale: assicurati che l'immagine non sia più larga del suo contenitore */
    height: auto; /* Opzionale: mantiene il rapporto aspetto dell'immagine */
}

.form-name {
    text-align: center;
    margin-bottom: 30px;
    font-size: large;
    font-weight: bold;
}

.form2-name {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: medium;
}

.send_button {
    text-align: center;
    padding-top: 25px
}
